<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="login.css">
    <title>Login Page</title>
</head>
<body>
   <header class="container-fluid " style="background-image: url(../assets/Images/loginPic.jpg);">
    <div class="row d-flex justify-content-between mx-4">
        <div class="h4 text-danger">Inovation</div>
        <div class="text-white">
            <img src="../assets/Images/globe.png" alt="global pic">
            English
        </div>
    </div>
<div style="min-height: 450px;">

</div>
   </header>
    
   <section  class="container mt-5">
       
 <div class="row d-flex flex-wrap ">
     <div class="col-6 offset-3  order-2 col-md-4 offset-md-1 order-md-1">
         
           <div class="h3">Login</div>
             <form action="../index.html">
                
                 <div class="form-group row my-4">
                     <label for="inputName" class="col-12 col-form-label"> EMAIL</label>
                     <div class="col-12">
                         <input type="Email" class="form-control form-control-lg" name="inputName" id="inputName" placeholder="Something@gmail.com">
                         <a href="#">
                            <small
                            class=" ml-3 text-danger float-right Email">Any Porblem about Email address</small>
                         </a>
                         <small
                         class=" ml-3 d-none  text-danger Email">Please give valid  Email addrees</small>
                     </div>
                 </div>
                 <div class="form-group row my-4">
                    <label for="inputName" class="col-12 col-form-label "> Password</label>
                    <div class="col-12">
                        <input type="password" class="form-control form-control-lg" name="inputName" id="inputName" placeholder="">
                        <small
                        class=" ml-3 d-none  text-danger Email">Please enter Valid Password</small>
                    </div>
                </div>
                 
                 <div class="form-group row">
                     <div class="col-sm-6 ">
                         <button type="submit" class="btn btn-danger rounded-pill px-5">Login</button>
                     </div>
                 </div>
             </form>
         
     </div>
     <div class="col-6 offset-3 order-1 col-md-4 offset-md-1 order-md-2 d-flex justify-content-center align-items-center">
         <div class="  bg-info">
            <a name="" id="" class="btn text-white rounded  " style="background-color: #4267B2;" href="#" role="button">
                <span class="badge"><i class="fab fa-facebook-square " style="font-size: 20px;" aria-hidden="true"></i></span>
            
            Continue with facebook</a>
         </div>
     </div>
 </div>

   </section>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/jquery.js"></script>
<script src="login.js"></script>
</body>
</html>